.detail-card p {
    color: rgba(255, 255, 255, 0.9);
}

.detail-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-hover);
}

/* Club Details Section */
.club-details .details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    colour :green
}

.coordinator-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--card-gradient);
    padding: 2rem 2.5rem;
    border-radius: 15px;
    box-shadow: var(--shadow);
    colour:red;
    max-width: 40px;
    margin-bottom: 4.5rem;
}

.coordinator-photo {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid var(--primary);
}

