.detail-card p {
    color: rgba(255, 255, 255, 0.9);
}

.detail-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--shadow-hover);
}

/* Club Details Section */
.club-details .details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    colour :green
}

